# MeshCore Monitor Configuration
SERIAL_PORT=
BAUDRATE=
KNOWN_NODES_FILE=
BOX_WIDTH=

# METAR API Configuration
METAR_API_KEY=
METAR_API_BASE=

# Open-Meteo Weather API Configuration (Ribeirao Preto coordinates)
OPEN_METEO_LATITUDE=
OPEN_METEO_LONGITUDE=
OPEN_METEO_BASE=https://api.open-meteo.com/v1/forecast

MAX_MESSAGE_LENGTH=